{% extends 'root.html' %}

{% block content %}
<style>
    .upload-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .form-container {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        width: 400px;
    }

    .form-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-label {
        font-weight: bold;
    }

    .form-control-file {
        border: 1px solid #ccc;
        padding: 8px;
        border-radius: 5px;
    }

    .submit-button {
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    .success-message {
        color: green;
        font-weight: bold;
        margin-top: 10px;
    }
</style>

<div class="container">
    <div class="upload-container">
        <div class="form-container">
            <form action="/administrator/upload_images/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="folder_name" value="{{ folder_name }}">
                <div class="form-group">
                    <label class="form-title">Tải lên 10 ảnh:</label>
                    <input type="file" id="images" name="images[]" multiple class="form-control-file">
                </div>
                <div class="form-group">
                    <input type="submit" value="Tải lên" class="submit-button">
                </div>
            </form>
            <div id="success-message" class="success-message" style="display: none;"></div>
        </div>
    </div>
</div>

<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault();
        var formData = new FormData(this);
        fetch(this.action, {
            method: this.method,
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'Tải lên hình ảnh thành công') {
                    document.getElementById('success-message').style.display = 'block';
                    document.getElementById('success-message').innerText = 'Tải lên hình ảnh thành công';
                }
            });
    });
</script>
{% endblock %}
