
Django
mysql-connector
virtualenv
Pillow
django-renderpdf
requests
absl-py
anyio
astunparse
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
fastapi
Flask
Flask-Cors
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
idna
imageio
importlib-metadata
imutils
itsdangerous
Jinja2
joblib
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
nose
numpy
oauthlib
opencv-python
opt-einsum
packaging
Pillow
protobuf
psutil
pyasn1
pyasn1-modules
pydantic
pyparsing
python-dateutil
python-multipart
pyzbar
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
sniffio
starlette
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
torch
torchaudio
torchvision
tqdm
typing_extensions
urllib3
uvicorn
Werkzeug
wrapt
zipp
